.lscorp-form {
  table {
    * {
      box-sizing: border-box;
    }
    table-layout: auto;
    font-size: 14px;
    max-width: 1260px;
    border-collapse: collapse;
    thead,
    tbody {
      width: 100%;
    }
    input,
    textare {
      font-size: 16px;
      line-height: 20px;
    }
    td,
    th {
      text-align: center;
      max-width: 54px;
      width: 5.5%;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  table td,
  table input {
    padding: 0;
    margin: 0;

  }
  fieldset {
    margin: 0;
  }
  input {
    border-radius: 0;
    text-align: center;
  }
}
.form-control.button {
  width: min-content;
  border-radius: 30px;
  padding: 0 10px;
  border: 0;
}
